/*
 * File:        app.component.css
 * Author:      Brennan Saul
 * Description: Component for styling the .html file
 *
 * Edit history:
 *
 * Editor   Date		  Description
 * ======   ========  ===========
 * Saul     6/23/17   File Created
 * Saul     6/26/17   .page css modified
 */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


.page {
  font-family: 'Ubuntu';
  position: relative;
  background-image: url("../assets/images/background.png");
  background-repeat:no-repeat;
  background-size: 100% 100vh;

  width: 85%;
  min-height: 100vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav_img {
  margin-top: 5px;
  margin-bottom: auto;
  max-height: 40px;
  width: auto;
}
