/*
 * File:        skills-display.component.css
 * Author:      Brennan Saul
 * Description: Component for styling the .html file
 *
 * Edit history:
 *
 * Editor   Date		  Description
 * ======   ========	===========
 * Saul     6/23/17   File Created
 * Saul     6/27/17   .container css modified
 */

 .container {
   text-align: left;
   width: 100%;
   max-height: 94vh;
   overflow: auto;
   margin-left: auto;
   margin-right: auto;
   background: rgba(255,255,255,.0);
   font-family: 'Ubuntu';
 }

 .jumbotron {
   text-align: center;
   margin-top: 30px;
   margin-left: 30px;
   width: 70%;
   padding: 10px;
   border: 3px solid navy;
   background: rgba(255,255,255,.75);
 }

 h1{
   margin: 0px;
   font-size: 50px;
 }

 .skill_img {
   width: 15%;
   height: 15%;
   padding-top: 10px;
   padding-left: 5%;
 }
