<!--
* File:        skills-display.component.html
* Author:      Brennan Saul
* Description: HTML for skills-display.component.ts
* Edit history:
*
* Editor   Date		  Description
* ======   ========	===========
* Saul     6/23/17   File Created
-->

<!-- Gets every image in the skills folder displays icons in fows of five -->
<div class="container">
  <h1>Experienced in</h1>
  <div *ngFor="let s of skills; let i = index">
    <div *ngIf="i % 5 == 0" class="row">
      <img class="skill_img" src="assets/skills/{{s}}">
      <img *ngIf="i + 1 < skills.length" class="skill_img" src="assets/skills/{{skills[i + 1]}}">
      <img *ngIf="i + 2 < skills.length" class="skill_img" src="assets/skills/{{skills[i + 2]}}">
      <img *ngIf="i + 3 < skills.length" class="skill_img" src="assets/skills/{{skills[i + 3]}}">
      <img *ngIf="i + 4 < skills.length" class="skill_img" src="assets/skills/{{skills[i + 4]}}">
    </div>
  </div>

  <h1>Stack Exchange Accounts</h1>
  <div class=row>
    <a href="https://stackoverflow.com/users/8168719/ob1">
      <img src="https://stackoverflow.com/users/flair/8168719.png" width="208" height="58" alt="profile for ob1 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for ob1 at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>

    <a href="https://unix.stackexchange.com/users/236433/ob1">
      <img src="https://unix.stackexchange.com/users/flair/236433.png" width="208" height="58" alt="profile for ob1 at Unix &amp; Linux Stack Exchange, Q&amp;A for users of Linux, FreeBSD and other Un*x-like operating systems" title="profile for ob1 at Unix &amp; Linux Stack Exchange, Q&amp;A for users of Linux, FreeBSD and other Un*x-like operating systems">
    </a>

  </div>

</div>
