<!--
* File:        project.component.html
* Author:      Brennan Saul
* Description: HTML for project.component.ts
* Edit history:
*
* Editor    Date		    Description
* ======    ========    ===========
* Saul      7/10/17     File Created
-->

<div class="container">
    <h1> Projects </h1>

    <div class=project>
      <h3>WebResume</h3>
      <p>The website that you are browsing is a project of my own!
        This website is developed using angular 4. WebResume contains both custom and bootstrap
        elements. The goal of
        the WebResume project is to create a website that shares with the visitor
        a little bit about myself, my skills, my past experiences, and feature
        projects that I have been a part of. <p>
      <a href="https://github.com/brennansaul/WebResume">View on git hub</a>
    </div>

    <div class=project>
      <h3>Push Stock</h3>
      <p>This group project was developed as a Senior Capstone Project during
         our teams last semester at Baylor University. This project was provided to us by
          Pariveda Solutions. The goal of this project was to integrate all of
          the knowledge learned throughout college and apply it in a situation
          that resembled situations found in industry. We were given a fictional
           problem and we had 15 weeks to implement a solution for such a problem.
           The solutions was an IOT involving a raspberry pi, BTLE Flic button,
           and a CentOS server. We used a MEAN stack which was comprised of: MONGO
           DB, ExpressJS, Angular2 (ionic for mobile application), and NodeJS<p>
      <a href="https://github.com/asapper/Capstone-Senior-Project#capstone-senior-project">View on git hub</a>
    </div>


    <!--
    <ul class="exp_list" *ngFor="let proj of projects">
      <li>
        <div>
          <h3>{{proj.name}}</h3>
          <p>{{proj.description}}<p>
          <a href="https://github.com/asapper/Capstone-Senior-Project#capstone-senior-project">View on git hub</a>
        </div>
      </li>
    </ul>
  -->
</div>
