/*
 * File:        welcome.component.css
 * Author:      Brennan Saul
 * Description: Component for styling the .html file
 *
 * Edit history:
 *
 * Editor   Date		  Description
 * ======   ========	===========
 * Saul     6/23/17   File Created
 * Saul     6/26/17   .welcome css modified
 */

.welcome {
  padding-top: 100px;
  text-align: center;
  height: 94vh;
}

.row {
  width: 100%;
}

.message {
  background: rgba(0,0,128,.0);
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  color: black;
  text-align: justify;
  font-size: 20px;
}
