<!--
* File:        welcome.component.html
* Author:      Brennan Saul
* Description: HTML for welcome.component.ts
* Edit history:
*
* Editor   Date		  Description
* ======   ========	===========
* Saul     6/23/17   File Created
* Saul     6/26/17   Table <td> <tr> changed to bootstraps row and col
-->

<div class="welcome">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-8">
      <div class="message">
       {{message}}
      </div>

    </div>

  <div class="col-xs-3"></div>

</div>
