<!--
* File:        experiences.component.html
* Author:      Brennan Saul
* Description: HTML for experiencescomponent.ts
* Edit history:
*
* Editor    Date		    Description
* ======    ========    ===========
* Saul      6/23/17     File Created
* Saul      6/27/17     list added
-->

<div class="container">
    <h1> Work Experience </h1>
    <ul class="exp_list">
      <li><div class="expirence">Flair Data Systems</div></li>
      <li><div class="expirence">Social Entrepreunership in Africa</div></li>
      <li><div class="expirence">Crickets Draft House</div></li>
      <li><div class="expirence">I5</div></li>
      <li><div class="expirence">Camp Ozark</div></li>
      <li><div class="expirence">Kappa Sigma Fraternity</div></li>
      <li><div class="expirence">Baylor</div></li>
      <li><div class="expirence">Whitefield Academy</div></li>
    </ul>
</div>
