<!--
* File:        experiences.component.html
* Author:      Brennan Saul
* Description: HTML for experiencescomponent.ts
* Edit history:
*
* Editor    Date		    Description
* ======    ========    ===========
* Saul      6/23/17     File Created
* Saul      6/27/17     list added
* Saul      6/27/17     Added the structure for experiences
-->

<div class="container">
    <h1> Work Experience </h1>
    <ul class="exp_list" *ngFor="let exp of exps">
      <li>
        <div class="experience">
          <div class="row" style="margin-top: 7px">
            <div class="col-md-2"><img class="exp_img" src="assets/images/experiences/{{exp.image}}"></div>
            <div class="col-md-4">
              <p><b>{{exp.title}}</b></p>
              <p>{{exp.name}}<p>
              <p>{{exp.startDate}} - {{exp.endDate}}</p>
              <p>{{exp.location}}<p>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row" style="margin-bottom: 7px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">{{exp.description}}</div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </li>
    </ul>
</div>
