<!--
* File:        header.component.html
* Author:      Brennan Saul
* Description: HTML for header.component.ts
* Edit history:
*
* Editor   Date		  Description
* ======   ========	===========
* Saul     7/7/17   File Created
-->

<!-- My navbar -->
  <div id="header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="me">
      James Brennan Saul - Bachelor of Science in Computer Science
    </div>
    <div id="navbar">
      <ul class="nav-list">
        <li class="nav-list-main" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li class="nav-list-main" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/skills">Skills</a></li>
        <li class="nav-list-main" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/experiences">Experiences</a></li>
        <li class="nav-list-main" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/projects">Projects</a></li>
        <li class="nav-list-main" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/resume">Resume</a></li>
        <li class="nav-list-right">
          <a href="https://www.linkedin.com/in/brennansaul/">
            <img class="nav_img" src="assets/images/linkedin-1.png"/>
          </a>
          <a href="https://github.com/brennansaul">
            <img class="nav_img" src="assets/images/github.png"/>
          </a>
        </li>
      </ul>
  </div>
</div>

<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">James Brennan Saul - Bachelor of Science in Computer Science</a>
    </div>

      <ul class="nav navbar-nav">
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/skills">Skills</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/experiences">Experiences</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/projects">Projects</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/resume">Resume</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <a href="https://www.linkedin.com/in/brennansaul/">
          <img class="nav_img" src="assets/images/linkedin-1.png"/>
        </a>
        <a href="https://github.com/brennansaul">
          <img class="nav_img" src="assets/images/github.png"/>
        </a>
      </div>

  </div>
</nav>-->
